button {
    background-color: gray;
    padding: 15px;
    border: none;
    font-size: 14px;
    color: white;
    width: 300px;
    text-align: right;
}

i{
    margin-left: 10px;
}

ul {
    list-style-type: none;
}

button:hover {
    background-color: rgb(206, 193, 193);
}

.submenu{
    background-color: rgb(54, 51, 51);
    padding-right: 45px;
}

.left{
    float: left;
}

.hide{
    display: none;
}

