div{
    display: inline-block;
    border-radius: 15px;
    padding: 20px;
    background-image: linear-gradient(to right, rgb(119, 90, 200),rgb(240, 202, 202));
}

input, button{
    background-image: linear-gradient(to top, rgb(206, 197, 197), white);
    padding: 20px;
    border: none;
    border-radius: 5px;
}
input{
    margin-bottom: 30px;
    width: 85%;
}
button{
    margin: 5px;
}
.b1{
    width: 45px;
    background-image: linear-gradient(to top, rgb(197, 12, 12),rgb(238, 103, 103))!important;
    color: white;
}
.b2{
    width: 95%;
    background-image: linear-gradient(to top, rgb(44, 130, 44), rgb(122, 218, 115));
    color: white;
}

input:hover, button:hover{
    box-shadow: 2px 2px rgb(198, 193, 193);
}
